@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*scroll bar*/
  --scroll-bar-track: rgb(228, 228, 228);
  --scroll-bar-thumb: rgba(122, 122, 122, .5);
}

html {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  user-select: none;
  background: #9b9b9b;
}

::-webkit-scrollbar {
  width: .5em;
}

::-webkit-scrollbar-track {
  background: var(--scroll-bar-track);
  border-radius: .6em;
}

::-webkit-scrollbar-thumb {
  background: var(--scroll-bar-thumb);
  border-radius: .6em;
}

input,
textarea {
  transition: .2s;
  resize: none;
}

button.action {
  width: 10em;
  height: 2.65em;
  display: flex;
  justify-content: center;
  background: #fff;
  color: #000;
  border-radius: .5em;
  border: .05em solid #818181;
  text-align: center;
  line-height: 2.5em;
  transition: .2s;
  outline: none;
}

button.danger {
  background: #ca6e6e;
  color: #fff;
  border: .05em solid #ad5858;
}

button.action:hover {
  background: #363636;
  color: #e2e2e2;
}

button.danger:hover {
  background: #814646;
  color: #e2e2e2;
}

button.action svg {
  margin-top: .5em;
  margin-right: .2em;
}

th {
  border-top: none;
}

td:first-child, th:first-child {
  border-left: none;
}

/*TOAST UI 플러그인 디자인 맘에 안듬*/
input.tui-colorpicker-palette-hex {
  width: 100% !important;
}

span.tui-colorpicker-palette-preview {
  margin-top: .3em !important;
}

div.toastui-editor-popup-color button {
  border-radius: .3em;
  transition: .3s;
  height: auto !important;
}

div.toastui-editor-popup-color button:hover {
  background: #8a8a8a;
  color: #ffffff;
}